@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    color:aliceblue;
    background-color: black;
    font-family: 'Merriweather', sans-serif;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0px;
}
.header-background{
    height: 90px;
    background-image: url(../assets/IMG/bg.jpg);
    background-repeat: no-repeat;
    background-size: 1440px 910px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper{
    display: flex;
    align-items: center;
}
.logo:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.nav-links{
    display: flex;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}
.nav-links__item{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(238, 238, 238);
}
.nav-links__launguage{
    color: #BDAE82;
}
.nav-links__item:hover{
    color: #BDAE82;
    transition-duration: 0.5s;
}
.section-welcome{
    height: 820px;
    background-image: url(../assets/IMG/bg.jpg);
    background-repeat: no-repeat;
    background-position: center -90px;
    background-size: 1440px 910px;
    
}
.welcome-title{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 120px;
    font-family: 'Merriweather';
}
.welcome-about{
    height: 330px;
    padding-left: 80px;
    padding-right: 860px;
    padding-top: 160px;
}
.welcome-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}
.welcome-button{
    margin-top: 25px;
    width: 220px;
    height: 55px;
    background: #BDAE82;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.welcome-button:hover{
    color: white;
}
.section-skills{
    height: 482px;
}
.skills-header{
    padding-left: 370px;
    padding-right: 370px;
    padding-top: 100px;
    padding-bottom: 60px;
}
.skills-title{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #BDAE82;
}
.skills-wrapper{
    display: flex;
    justify-content: center;
}
.skills-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
}
.camera-logo{
    width: 62px;
    height: 50px;
}
.video-logo{
    width: 60px;
}
.image-logo{
    width: 66px;
}
.micro-logo{
    width: 32px;
    height: 50px;
}
.skills-item__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}
.skills-item__p{
    max-width: 280px;
}
.skills-item__text{
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.section-portfolio{
    margin-top: 100px;
}
.portfolio-title{
    height: 80px;
}
.portfolio-header{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
}
.portfolio-btns{
    height: 55px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.portfolio-btns__item{
    width: 220px;
    height: 55px;
}
.portfolio-btns__itemRactangles{
    height: 55px;
    top: 0px;
    border: 2px solid #BDAE82;
    border-radius: 0px;
}
.portfolio-btns__title{
    padding-top: 7px;
    padding-bottom: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #BDAE82;
}
.portfolio-btns__itemAutumn{
    background-color: #BDAE82;
}
.portfolio-btns__titleAutumn{
    color: black;
}
.portfolio-pictures{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.video-title{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 60px;
}
.video-title__text{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #BDAE82;
}
.video-player{
    height: 705px;
    width: 1400px;
}
.video-player__background{
    background-image: url(../assets/IMG/video-player.jpg);
    background-repeat: no-repeat;
    background-position: 20px 0px;
    height: 705px;
}
.video-play_button{
    text-align: center;
    padding-left: 656px;
    padding-top: 288px;
}
.section-prices{
    height: 845px;
}
.prices-title{
    margin-top: 100px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
}
.price-items{
    margin-top: 60px;
    display: flex;
    gap: 25px;
}
.price-item{
    height: 505px;
    width: 450px;
    border: 3px solid #BDAE82;
    border-radius: 0px;
}
.price-item__title{
    padding-top: 43px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}
.price-item__cost{
    padding-top: 20px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #BDAE82;
}
.price-item__description{
    padding-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.price-item__button{
    margin-top: 40px;
    margin-bottom: 43px;
    border-radius: 0px;
    text-align: center;
}
.price-item__buttonText{
    width: 220px;
    height: 55px;
    background: #BDAE82;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
.section-contacts{
    height: 700px;
    width: 1440px;
    background-image: url(../assets/IMG/contacts.jpg);
    background-repeat: no-repeat;
}